
<h1> Фильмы </h1>

<span class="label label-warning hide_show">
  <i class="icon-arrow-down"></i>
  <i class="icon-arrow-up"></i>
</span><br /><br />

<table class="table table-hover table-bordered">
  <tr class ="warning">
    <td>
     id
    </td>

    <td>
      название
    </td>
    
    <td>
      символов
    </td>
    <td>
      цена
    </td>
  <tr>
 </table>
всего символов не оплачено: <span class="badge badge-warning all_char">0</span> 

Должен денег: <span class="badge badge-warning all_cost">0</span>

<br /><br />
цена за 1000 символов: <input class="input-mini cost_val" type="number" placeholder="0"> 
<button class="btn btn-link cost_calc" style = "color:#F89406;" type="button">Пощитать стоимость</button>
 
 <br />
 <br />