<br /> <br />
    <% films.each do |film| %>
      
       <div class="product_box margin_r_10">
        
          <%= link_to ( 
                         if film.image? then image_tag(film.image.smal_image.url) 
                         else 
                           image_tag("/camera_a.gif") 
                         end
                      ), 
              "/announcements/#{film.frandly_name}"+".html" 
          %> 
          
          <br />
          <div style = "margin: 5px 0 -7px;">
             <strong>
               <%= cut_str film.name, 19%>
             </strong>
          </div>

        
        
        </div>
     <% end %>

    <div class="cleaner"></div>
