<h1>Анонсы</h1>

<%= render "assets/news_anons", :objects => @announcements, :name_cont => "announcements"%>
<%= render "assets/pagination", :films =>  @announcements%>
<%if can? :create,@announcements%>
 <%= link_to 'Создать анонс', new_announcement_path %>
<%end%>