

<script>
  window.this_page_user_id = <%= @user.id%>;

  $(function() {

      var  user_cost_film = new FilmsCostView({el: $("#user_films_cost")});
           user_cost_news = new NewsCView({el: $("#user_news_cost")}),
           user_cost_announce = new AnnouncesCostView({el: $("#user_announce_cost")}),
           user_form_view = new UserFormView({model: new UserFormModel(), el: $("#user_harakter")});
           
          

  })

</script>


<h2>Добавленный контент</h2>

 <div id = "user_films_cost" >
  
</div>


 <div id = "user_news_cost" >
  
</div>

 <div id = "user_announce_cost" >
  
</div>

<br />
<br />
<br />

 <div id = "user_harakter">

 </div>	

<br />
<br />
<br />
<br />

