 <h2> Характеристика: <%= username%> </h2>


<h1 style = "color:#468847" id = "alert" > Сохранено</h1>
 <textarea rows="10" class="input-xxlarge" id="harakter_text"> <%= harakter%> </textarea><br />

<button class="btn btn-primary btn-inverse" id = "save_user_harakter" type="button">Сохранить</button>
