<h1>Фильмы</h1>
<%= render "assets/janr"%>
<%= render "assets/content", :films => @films%>
<%= render "assets/pagination", :films => @films%>

 <% content_for :keywords do %>
   <%= kay_words%>
 <% end %>