<h1>Редактировать фильм <%=@film.name%></h1><br />

<div class="product_detail_cont">
<%= link_to 'удалить данный контент',@film,:confirm => 'Вы уверены?',:method => 'delete' %><br />
       <%= render 'form' %>
</div>
<%= link_to 'показать', @film %> 
