 <div class = "janr">
  <% Janr.all.each do |janr| %>
    <h1> <%= link_to janr.name,"?janr=#{janr.id}"%> </h1>
  <%end%><br /> 
    <div>
     <%if @janr != nil %>
     <strong> выбран жанр:</strong> <%= @janr.name %><br />  <%=link_to "отменить", kinofilms_index_path%> 
     <% end %>
   </div>  
 </div> 