 <div id="slider" class="theme-default">
              <% slides.each do |slide| %>   
               <%= image_tag(slide.image.slide_image.url) if slide.is_show == true%>   
             <%end%>     
 </div>