 <div id="slider" class="theme-default">
                <img src="/nivo/slide1.jpg" data-thumb="/nivo/slide1.jpg" alt="" />
                <img src="/nivo/slide3.jpg" data-thumb="/nivo/slide3.jpg" alt=""  />
                <img src="/nivo/slide1.jpg" data-thumb="/nivo/slide1.jpg" alt="" data-transition="slideInLeft" />
                <img src="/nivo/slide3.jpg" data-thumb="/nivo/slide3.jpg" alt=""  />
 </div>