/*
Credit: http://www.templatemo.com
*/

body {
	margin: 0;
	padding: 0;
	line-height: 1.7em;
	font-family: sans-serif ;
	font-size: 14px;
	color: #363636;
        background: #ffffff;
}

a:link, a:visited { color: gray; text-decoration: none; } 
a:active, a:hover { color: gray; text-decoration: none; }

p { margin: 0px; padding: 0px; }

img { margin: 0px; padding: 0px; border: none; }

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }

.button_01 a {
	display: block;
	width: 80px;
	height: 24px;
	padding: 4px 0 0 28px;
	color: #686b53;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	background: url(/images/templatemo_button_01.png) no-repeat;
}

.button_01 a:hover {
		background: url(/images/templatemo_button_01_hover.png) no-repeat;	
}

h1 {
	margin: 0px;
	padding: 2px 0;
	font-size: 20px;
	font-weight: bold;
}

h2 {
	margin: 0 0 20px 0;
	padding: 10px 0;
	font-size: 30px;
	font-weight: bold;
	color: #686b53;
}

h3 {
	margin: 0 0 10px 0;
	padding: 0px;
	font-size: 20px;
	font-weight: bold;
	color: #9f1a04;
}

.image_wrapper {
	margin-top: 3px;
	margin-bottom: 5px;
	border: 5px solid #e8e8e8;
	padding: 1px;
	background: #fff;
}

.fl_image {
	float: left;
	margin-right: 30px 
}

.fr_image {
	float: right;
	margin-left: 20px 
}

.fl { float: left; }
.fr { float: right; }

.margin_r_10 { margin-right: 10px; }

.margin_r_20 { margin-right: 20px; }

.margin_r_80 { margin-right: 80px; }

/* site title */

#templatemo_site_title_bar_wrapper {
	width: 100%;
	height: 130px;
	margin: 0 auto;	
	background: #000000 url(/images/templatemo_site_title_bg_wrapper.jpg) no-repeat center top;
}

#templatemo_site_title_bar {
	width: 900px;
	height: 130px;
	margin: 0 auto;
	padding: 0 20px 0 60px;
	background: #000000  url(/images/templatemo_site_title_bg.jpg) no-repeat center top;
}

#templatemo_site_title_bar  #site_title {
	float: left;
	padding: 30px 0 0 0;
	text-align: center;
}

#site_title h1 a {
	margin: 0px;
	padding: 0px;
	font-size: 24px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

#site_title h1 a:hover {
	font-weight: bold;	
	text-decoration: none;
}

#site_title h1 a span {
	display: block;
	margin-left: 3px;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	letter-spacing: 4px;
}

/* menu */

#templatemo_site_title_bar #templatemo_menu {
	float: right;
	width: 515px;
	height: 53px;
	padding: 39px 0 0 0;
	margin: 0 auto;

}

#templatemo_menu ul {
	margin: 0px;
	padding: 13px 0 0 20px;
	list-style: none;
}

#templatemo_menu ul li {
	padding: 0px;
	margin: 0px;
	display: inline;
}

#templatemo_menu ul li a {
	float: left;
	display: block;
	height: 22px;
	padding: 3px 10px 0 5px;
	margin: 0 10px;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	color: #5B5B5B;	
	font-weight: bold;
	outline: none;
}

#templatemo_menu li a:hover, #templatemo_menu li .current {
	position: relative;
	color: #ffffff;
	background: url(/images/templatemo_menu_hover_right.png) right top no-repeat;
}

#templatemo_menu li a:hover span, #templatemo_menu li .current span {
	position: absolute;
	top: 0;
	left: -5px;
	height: 25px;
	width: 5px;
	background: url(/images/templatemo_menu_hover_left.png) no-repeat;
}

/* end of menu*/

/* end of site title */

/* banner */

#templatemo_banner_wrapper {
	clear: both;
	width: 100%;
	height: 170px;
	margin: 0 auto;	
	background: #000000 url(/images/templatemo_banner_bg_wrapper.jpg) no-repeat center top;
}

#templatemo_banner {
	width: 940px;
	height: 135px;
	margin: 0 auto;
	padding: 35px 20px 0 20px;
	background: #000000 url(/images/templatemo_banner_bg.jpg) no-repeat center top;
}

#templatemo_banner p {
	font-size: 28px;
	color: #000000;
	line-height: 34px;
}

#templatemo_banner p span {
	color: #ffffff;
	font-style: italic;
}

/* end of banner */

/* menu */

#templatemo_follow_me_wrapper {
	width: 100%;
	margin: 0 auto;	
	background: white;
}

#templatemo_follow_me {
	width: 990px;
	margin: 0 auto;
	padding: 10px 0;
	background: white;
	text-align: right;
}

#templatemo_follow_me span {
	display: inline-block;
	padding-top: 30px;
	color: #006695;
	font-size: 26px;
	font-weight: bold;	
	margin-right: 20px;
}

#templatemo_follow_me .social_network {
	float: right;
	margin: 0px;
	padding: 0px;
	list-style: none;
}


#templatemo_follow_me .social_network li {
	margin: 0px;
	padding: 0px;
	display: inline;
}

#templatemo_follow_me .social_network li a {
	float: left;
	display: block;
	width: 62px;
	height: 78px;
	margin-left: 10px;
}

#templatemo_follow_me .social_network li .facebook {
	background: url(/images/facebook_icon.png) no-repeat;
}

#templatemo_follow_me .social_network li .twitter {
	background: url(/images/twitter_icon.png) no-repeat;
}

#templatemo_follow_me .social_network li .linkin {
	background: url(/images/linkin_icon.png) no-repeat;
}

#templatemo_follow_me .social_network li .flickr {
	background: url(/images/flickr_icon.png) no-repeat;
}

/* end of menu */

/* content */

#main
 {
   width: 1225px; 
   margin: auto;
 }
#templatemo_content {
    background: none repeat scroll 0 0 #FFFFFF;
   /* margin: 0 auto 0 10%;*/
    min-height: 950px;
    padding: 30px 0px 0px 20px;
    width: 862px;
}

.product_box {
 background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #E7E7E7;
    float: left;
    font-size: 12px;
    height: 295px;
    margin: 5px;
    padding: 8px 7px;
    text-align: center;
    width: 185px;
}

.product_box:hover {
	background: #EDEDED;
}

.product_box a {
	text-decoration: none;
}

.product_box a:hover {
	text-decoration: none; 
}

.product_box a img {
	border: 1px solid #ffffff;
  width: 180px;
}

.product_box h3 {
	padding: 0;
	margin: 0 0 10px 0;
	height: 20px;
	font-size: 16px;
	padding: 10px;
	color: #85896f;
	border: 1px solid #fff;
	text-align: center;
	background: url(/images/templatemo_product_box_title_bg.jpg) repeat-x;
}

.product_box:hover h3 {
	color: #006695;
}

.product_box p {
	color: #666666;
	font-weight: normal;
}

.product_detail_left {
	float: left;
	margin-right: 20px;
}

.product_detail_left .product_img_wrapper {
	border: 10px solid #f1f1f1;
	padding: 1px;
	background: #ffffff;
}

.product_detail_right {
	float: right;
	width: 300px;
}
.product_detail_cont {
	min-height: 350px;
}

.product_detail_right h3 {
	font-size: 16px;
	color: #333333;
}

.service_applied {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.service_applied li {
	margin: 0px;
	padding: 3px 0 3px 20px;
	color: #006695;
	background:url(/images/templatemo_list_icon.jpg) left center no-repeat;
}

/* end of menu */

/* content */

#templatemo_footer_wrapper {
    background-color: black;
    margin: 0 auto 70px;
    padding-left: 19px;
    width: 800px;
	
}

#templatemo_footer {
	width: 960px;
	margin: 0 auto;
	padding: 30px 10px;
	color: #d4d5cd;
	background: none repeat scroll 0 0 white;
	margin-bottom: 70px;
  }

 .section_w220 {
    background-color: black;
    float: left;
    padding: 27px;
    width: 200px;
    margin-bottom: 50px;
}

#templatemo_footer .section_w220 h4 {
	color: #ffffff;
	margin: 0 0 10px 0;
	padding: 3px 0;
}

#templatemo_footer p {
	margin-bottom: 10px;
}

.footer_list_menu {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.footer_list_menu li {
	margin: 0px;
	padding: 3px 0;
}

.footer_list_menu li a {
	color: #d4d5cd;
	font-weight: normal;
}

.footer_list_menu li a:hover {
	color: #ffffff;
	font-weight: normal;
}

.field{
  margin-top:30px;
  
  
}

.comment_box{
    margin: 10px;
    min-height: 100px;
    width: 800px;
    border-bottom: 1px solid #f3f3f3;
}

.c_image_box
 {
    float: left;
    height: 75px;
    margin-right: 10px;
    width: 75px;
 }
 
 .c_box_menu
 {
  font-size: 13px;
  width:800px;
 }
 .c_delete_box{
    float: left;
    margin-right: 30px;
    padding: 10px;
   }
 .c_data_box{
    margin-left:  550px;
    padding: 10px;
    width: 350px;
   
}
.c_other_box {
    margin-left: 81px;
    min-height: 55px;
}
.pagin {
     margin: 25px;
     font-size: 16px;
     text-align: center;
}

.slider_nivo_wrapper{
        width: 100%;
	margin: 0 auto;	
	background: black;
	padding-top: 59px;
	
	}

.slider_nivo_ {
        width: 990px;
	margin: 0 auto;
	background: black;
	text-align: right;
	
}

label {
  color:blue;
}

.con {
    height: 45px;
    margin: -10px auto auto;
    width: 850px;
}

.con_a {
    height: 45px;
    margin: -10px auto auto;
    width: 1100px;
}
img {border: none;}
ul#topnav {
margin: 10px 0 20px; 
padding: 0; 
list-style: none; 
font-size: 1.1em;
float: left;
width: 100%;
}
ul#topnav li{
margin: 0; 
padding: 0; 
overflow: hidden; 
float: left; 
height:40px;
}
ul#topnav a, ul#topnav span {
padding: 10px 20px; 
float: left; 
text-decoration: none; 
color: #fff;
text-transform: uppercase;
clear: both;
height: 20px;
line-height: 20px;
background: #1d1d1d; 
}
ul#topnav a { color: #7bc441; }
ul#topnav span {
display: none;
}

ul#topnav.v1 span{
background: url(/images/bg.gif) repeat-x left top;
}
ul#topnav.v1 a{
color: #555;
background: url(/images/bg.gif) repeat-x left bottom;
}



#templatemo_menu_menu{
    background: none repeat scroll 0 0 #282828;
    height: 40px;
    position: fixed;
    width: 100%;
    z-index: 100; 
    opacity: 0.91; 
}

.pod_menu
{
  background-color: white;
  width: 450px;
  position: fixed;
  top: 40px;
  min-height: 150px;
  border: 1px solid rgb(211, 204, 204);
  border-top: none;
  padding: 15px 5px 40px 20px;
  display: none;
  border-radius: 0px 0px 5px 5px;
  font-size: 13px;
}


.list
 {
   float: left;
   margin-top: 10px;
   margin-right: 47px;
   width: 90px ;
   padding: 0px ;
   margin-right: 60px ; 
}

 

 .list a
 {
   width: 90px !important;
   height: 0px !important;
   background: url() !important;
   height: 2px !important;
   text-transform:none !important;
   margin-left: 0px !important;
   color: rgb(54, 54, 54) !important;

 }

 .list a:hover
 {
   color: #31669b !important;
   cursor: pointer !important;
   text-decoration: underline !important;

 }
.show{
  visibility: visible;
}

.hide{
  visibility: hidden; 
}



.janr{
   
    margin-top: 20px;
    min-height: 42px;
    text-align: center;
    margin-bottom: 45px;
}

.janr div
{
   margin-right: 10px;
    text-align: left;
    width: 300px;
    color: green;
    
}
.janr h1{
  float:left;
  margin-left:10px;
  font-size:15px;
 
}

.janr h1 a
{
   color: #515151;
}

.post_box{
    margin-bottom:20px;
    /*border-bottom: 1px dashed gray; */
    margin-top: 5px;
    padding: 10px;
 }
 .post_box_menu{
    border-right: 1px dashed gray;
    float: left;
    margin-right: 30px;
    padding-right: 30px;
 }
 .post_box_name {
    color: #31669b;
    font-size: 16px;
    padding: 10px;
 }
 
 .post_box_content{
    margin-bottom: 30px;
    padding: 20px;
    font-size: 14px;
 }
 
 .log_in {
    color: red;
    font-size: 16px;
    position: absolute;
    top: 6px;
    right: 35px;
 }
 
.avatar_block
 {
   float:left;
   margin-right: 50px;
 }
 
 #vidget
  {
    margin-bottom: 30px;
  }
 
 p 
 {
   margin-bottom: -8px;
 }

 
 .admin_link_block
 {
   margin-left: 10px;
   position: absolute;
   right: 32px;
   top: 21px;
 }
 
 .post_box td
 {
   color: green;
   padding-left: 40px;
   padding-bottom: 10px;
 }
 

 .film_box
 {
    height: 550px;
    padding: 10px;
    width: 605px;
 }
 
 .top_10_box 
 {

    margin-bottom: 20px;
    margin-right: 10px;
 }
 
 label {
     color: black;
      }
 .reg label 
  { 
     position:relative;
     bottom: 12px;
  }
  
  
  .reg input 
  {
     margin-left:35px;
     moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    border-color: #CCCCCC #E7E7E7 #E7E7E7;
    border-image: none;
    border-right: 1px solid #E7E7E7;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    font-size: 14px;
    height: 34px;
    line-height: 35px;
    max-width: 100% !important;
    padding: 0 12px;
    margin-bottom: 20px;
  }
  
 .submit 
 {
    -moz-transition: background-color 0.12s ease-out 0s;
    background: none repeat scroll 0 0 #2F3336;
    border: medium none;
    border-radius: 2px 2px 2px 2px;
    color: #E0E0E0;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: 600;
    height: 34px;
    line-height: 35px;
    margin: 0 5px 2px 2px;
    padding: 0 11px;
    text-align: center;
    text-transform: uppercase;
 }
 
 .right_block
  { 
   float: right;
   margin-top: 110px;
  }
 .s{
    background: #2F3336;
    border:none;
    color: white !important;
 }
 
 
 .reg_form
  {
     float:left;
  }
  
 .soc_reg
  {
    margin-left: 460px; 
    min-height: 250px;
  }
  .soc_reg b
  {
     margin-left: -40px;
     margin-top: 20px;
     position: absolute;
  }
  
  .inner_news_box
  {
     margin-left: 150px;
     min-height: 2px;
     padding: 10px;
     padding-top: 16px;
     font-family: Arial, sans-serif;
     font-size: 13px;
  }
  
  .inner_news_box_img
  {
    float: left;
    margin-right: 13px;
    padding-top: 25px;
    min-height:150px;
  }

  .inner_news_box_img img
  {
    width: 136px;

  }
  
  .inner_news_box .text
  {
    word-wrap: break-word;
    width: 500px;
    color:black;
    min-height: 70px;
  }
/* end of menu */	
.news_box
{
  margin-bottom: 20px;
  width: 730px;
  border-bottom: 1px solid #f3f3f3;
    
 }
 
 .post_box_name a
  {
    color: #31669b;
    margin-left: -11px;
  }
  
  .news_menu
  {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .news_box .data
  {
    color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 11px;
  }
   .new_anons_content 
   {
    border-bottom: 1px solid #e3e3e3;
    font-family: Arial;
    margin-bottom: 50px;
    padding-bottom: 60px;
    width: 810px;
    word-wrap: break-word;
    min-height: 300px;
    font-family: Arial;
   }
  
  .new_anons_content img
   {
      float: left;
       margin-bottom: 15px;
       margin-right: 20px;
      
   }
   
   .new_anons_content h1
   {
    color: #31669b;
    font-size: 31px;
    font-weight: bold;
    margin: 0 0 30px;
    padding: 2px 0;
    text-align: center;
   } 
   
   .odd {
        background:#00C9BA;
        color: black;
        }
                            
    .table-test-odd {
        width:400px;
        border-collapse:collapse;
        border:1px #e4e4e4 solid;
	 margin: auto;
        } 
        
   .login_soc 
    {
     background-color: transparent;
     background-position: left top;
     background-repeat: no-repeat;
     display: inline-block;
     height: 57px;
     margin: 0 24px 18px 0;
     width: 59px;  
    }
   .login_soc:hover 
    {
      background-position: left center;
    }
   .log_vk
    {
     background-image: url("/vkontakte.png");
     margin-right: 0;
    } 
    
    .log_fb
    {
     background-image: url("/faicbook_icon.png");
     margin-right: 0;
    } 
    
    .opis_film
    {
      list-style: none outside none;
      margin-left: 320px;
      padding: 0;
      width: 500px;
    }
    
    .opis_film li
    {
     border-bottom: 1px solid #E7E7E7;
     color: #515151;
     font-size: 11px;
     line-height: 3;
     margin-left: 0;
     padding: 12px 12px 12px 0;
    }
    
    .name_film
    {
     color: black;
     font-size: 15px;
    }
    
    .cl1
    {
      margin-left: 10px; 
    }

    .new_today_h1
    {
      font-size: 16px;
      padding: 15px 0px 5px ;  
      border-bottom: 4px solid #f3f3f3;
    }

    .news_head_h2
    {
      color: #404041;
      font-size: 20px;
      font-weight: bold;
      margin: 0 0 30px;
      padding: 0px 0px 15px;
      border-bottom: 4px solid #f3f3f3;
    }

    .news_data_head
    {
      margin: -28px 0px 22px 10px;
      font-size: 12px;
      color: grey;
    }

    .news_video
    {
      
    }

    .comment_reg
    {
      color: rgb(216, 68, 68);
      padding: 20px;
      background-color: rgb(241, 227, 222);
      border: 1px solid rgb(216, 68, 68);
      margin-top: 50px;
      font-size: 15px;
    }

    .raitings
    {
       padding: 6px 5px 27px 5px;
       background-color: rgb(211, 211, 241);
       margin-top: 11px;
       width: 631px;
    }

    .pagin span a
    {

        color: #363636;

    }

    .pagin span
    {
      padding: 10px;
    }

    .current{
      color: grey;

    }

    .news_category_h
    {
      color: gray;
      text-transform: uppercase;
    }